:root {
  --foreground-color: #000000;
  --background-color: #bbddff;
  --selected-color: #888888;
}

.scene-canvas {
  background-size: contain;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
}

.canvas-container {
  display: flex;
  flex-direction: row;
  gap: 2%;
}

.menu {
  justify-content: space-evenly;
  background-color: var(--background-color);
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 70%;
  padding: 2rem;
  margin: auto;
  position: relative;
  top: 15%;
  transition: 0.5s;
  width: 30rem;
  max-width: 49%;
  z-index: 10;
}

.menu-item {
  align-items: center;
  background-color: var(--background-color);
  border-style: none;
  box-sizing: border-box;
  color: var(--foreground-color);
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  height: min-content;
  justify-content: space-between;
  margin: 0;
  min-width: 0;
  padding: 1rem;
  text-align: left;
  text-overflow: ellipsis;
  transition: 0.2s;
  width: 100%;
}

.btn-menu-close {
  background-color: transparent;
  border-style: none;
  color: var(--foreground-color);
  font-size: 4rem;
  font-weight: lighter;
  grid-column: span 3;
  line-height: 0;
  margin: 1rem auto;
  margin-top: 3rem;
  padding: 0;
  text-align: center;
  transition: 0.5s;
  width: 100%;
}

input[type="color"] {
  background: none;
  border: none;
  height: 1.5rem;
  padding: 0;
  width: 6rem;
}

input[type="range"] {
  height: 1rem;
  width: 6rem;
}
